body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

#qrcode-container {
    text-align: center;
}

#qrcode {
    width: 500px;
    height: 500px;
}
